body {
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 950px;
    min-width: 950px;
}

#allContent {
    display: grid;
    grid-template-columns: 1fr 19fr;
    border-bottom: 1px solid #171717;
}

#main {
    height: 45px;
    line-height: 45px;
    display: grid;
    grid-template-columns: 6fr 1fr 3fr;
}

#main > div {
    border-left: 1px solid #EEEEEE;
}

#lang {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 15px;
    font-weight: bold;
    text-align: right;
}

.en {
    text-align: left;
    padding-left: 5px;
}

#avatar {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    color: #B6B6B6;
    text-align: center;
}

#avatarInfo {
    font-size: 12px;
    line-height: 12px;
    padding-top: 12px;
    text-align: left;
}

.hello {
    font-weight: bold;
}

#dashboard {
    position: relative;
    height: 36px;
    line-height: 36px;
    background-color: #ECECEC;
    font-size: 12px;
    color:#8A8989;
    font-weight: bold;
}

.fav {
    padding: 0 10px 0 10px;
    height: 36px;
    position: absolute;
    right: 0;
    top: 0;
    background-color:#D8D8D8;
}

#container > div{
    display: grid;
}

#container1 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 900px;
    height: 115px;
}

#container2 {
    grid-template-columns: 417px 205px 280px;
    height: 270px;
    color: #878686;
}

#container3 {
    grid-template-columns: 1fr 1fr 1fr;
    width: 902px;
}

#container1 > div {
    border: 1px solid #EAEBEB;
}

#tools {
    background-color: #171717;
}

#tools_item {
    padding: 0;
    margin: 0;
    color: white;
}

#tools_item li {
    list-style-type: none;
    line-height: 35px;
    text-align: center;
}

#tools_item li:hover {
    background-color: red;
}

.b {
    border: 3px solid red; 
    font: italic bold 23px Cambria;
    letter-spacing: -5px;
}

.last_li {
    border-bottom: 1px solid #222222;
    color: #878787;
    background-color:#171717;
}

.li {
    background-color: #222222;
}

.fa-angle-right {
    font-size: 25px;
    font-weight: bold;
    background-color:black;
    color: white;
    padding: 2px 5px 3px 5px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

#container1 > div {
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
    height: 100%;
}

#item1, #item4 {
    color: #01ACAC;
}

#item2 {
    color: #227DB6;
    background-image: url('/image/2.png');
}

#item3 {
    color: #FBD37F;
    background-image: url('/image/3.png');
}

#item5, #item7 {
    position: relative;
    background-color: #2A2A2A;
    padding-top: 10px;
}

#item6 {
    background-color: #222222;
    padding-top: 10px;
}

#item1 {
    background-image: url('/image/1.png');
}

#item4 {
    background-image: url('/image/4.png');
}

.num {
    font: bold 35px serif;
}

.text {
    font: bold 12px serif;
}

.text_color {
    color:#ACABAC;
}

.coord {
    margin: 0;
    padding: 5px;
    position: absolute;
    top: 23px;
    left: 0;
    text-align: center;
}

.coord li {
    list-style-type: none;
    line-height: 30px;
    margin: 0;
}

canvas {
    padding-left: 30px;
}

.media {
    padding: 5px;
    font-size: 20px;
}

.lastWeek {
    position: absolute;
    right: 5px;
    top: 15px;
}

.diagramInfo {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.cliks i {
    color: #FBD37F;
    padding: 0 10px 0 10px;
}

.pageView i {
    color: #227DB6;
    padding: 0 10px 0 10px;
}

.signUp i {
    color: #01ACAC;
    padding: 0 10px 0 10px;
}

.ctr {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 15px;
}

.ctr span{
    padding: 3px 0px 3px 19px;
}

.aff {
    border-bottom: 1px solid #222222;
    border-top: 1px solid #222222;
    line-height: 20px;
}

#one div, #two div, #three div {
    border-bottom: 1px solid #222222;
    line-height: 31px;
}

#one, #two, #three {
    position: relative;
    padding-left: 5px;
}

.affSign {
    position: absolute;
    right: 10px;
    top: 0;
}

#affTable, #commisionTable, #signTable {
    width: 100%;
    border-collapse: collapse;
    border-left: 1px solid #D1C5D3;
}

caption {
    text-align: left;
    background-color: #353535;
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    color: #A7A7A7;
    padding-left: 10px;
}

td {
    text-align: center;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #6B6B6B;
    border-bottom: 1px solid #ddd;
}